.container {
    background: var(--background);
    border-radius: 16px;
    padding: 20px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.form {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
