.button {
    padding: 12px;
    border-radius: var(--radius);
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
    width: 100%;
}

/* PRIMARY */
.primary {
    background-color: var(--primary);
    color: white;
}

.primary:hover {
    background-color: var(--primary-hover);
}

/* DANGER */
.danger {
    background: #dc2626;
    color: white;
}

.danger:hover {
    background: #b91c1c;
}

.button:active {
    transform: translateY(1px);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}